
/****************************** RESPONSIVE CSS ***********************/

/******************** 640PX TO 768PX *********************/
@media (min-width: 640px) and (max-width: 768px){

	body{
		padding-top: 170px;
	}

	#page-map{
		padding-top: 157px;
	}

	#announcement-text {
		width: 85%;
		font-size: 12px;
		line-height: 18px;
		margin: 3px 0;
		height: 57px;
		overflow-y: auto;
	}

	#row-search .btn.btn-default {
		margin: 10px 0;
	}

	#logo-wrapper img{
		width: 65%;
	}
}

/******************** LESS THAN 640PX *********************/

@media (max-width: 640px) {
	body{
		padding-top: 124px;
	}

	#page-map{
		padding-top: 109px;
	}

	.setting-item {
		margin-bottom: 4px;
	}

	/* HEADER */
	#userbar{
		font-size: 11px;
		padding: 5px 10px;
	}

	#announcement-text {
		width: 85%;
		font-size: 10px;
		line-height: 15px;
		margin: 3px 0;
		height: 47px;
		overflow-y:auto;
	}
	#annoucement-wrapper{
		background-size: 25%;
	}

	#logout{
		right: 0;
		top: -8px;
		background-size: 78%;
	}

	/* ROW SEARCH */
	#row-search{
		padding: 0;
	}

	#row-search .btn-input .btn.form-control{
		min-height: 23px;
		line-height: 12px;
	}

	.arrow-down.white{
		top:9px;
	}

	#row-search .dropdown-menu>li>a, 
	#row-search .btn-input .btn.form-control span{
		font-size: 11px;
	}

	#row-search .dropdown-menu>li>a,
	.settings .dropdown-menu>li>a{
		font-size: 14px;
		height: 34px;
		line-height: 26px;
	}

	#row-search .btn.btn-default {
		width: 30px;
		height: 30px;
		margin-top: 3px !important;
		margin-bottom: 0 !important;
	}	

	.select-3 input[type="text"]{
		min-height: 0;
		margin: 2px 0 0 10px;
	}

	#search{
		background-size: 130%;
		background-position: -5px -48px;
	}

	#refresh, #setting, #map{
		background-size: 130%;
	}

	#refresh {
		background-position: -6px -169px;
	}

	#setting {
		background-position: -7px -222px;
	}	

	#map {
		background-position: -10px -114px;
	}		

	.btn.dropdown-toggle {
		margin: 5px 0 5px 10px;
	}
	
	.form-control{
		height: 26px;
	}
	
	#row-search .btn.btn-default {
		margin: 10px 0;
	}

	.select-3 .btn.btn-default#search{
		width: 26px;
		height: 26px;
		margin-top: 5px !important;
	}

	/*** SETTING ***/
	.rail-arrow {
		margin-top:0;
		background-size:16px;
		float: left;
		width: 10%;
	}

	.settings h3{
		font-size: 17px;
	}

	.setting-title{
		font-size: 15px;
	}

	.settings input[type="text"],
	.settings .btn-input .btn.form-control span {
		font-size: 15px;
		width: 45%;
		float: left;
	}

	.settings .setting-drop{
		float: left;
		width: 45%;
	}

	.arrow-down.black{
		width: 5% !important;
	}



	/******* MODAL ******/
	.modal-header{
		padding: 10px 15px;
		font-size: 17px;
	}

	.modal-footer{
		padding:10px;
	}

	.modal-body{
		overflow-y: scroll;
	}

	/******* (MODAL) SEARCH ADVANCE ***/
	#search-advance .modal-dialog {
		width: auto;
	}
	#search-advance label{
		font-size: 13px;
	}

	#search-advance .radio{
		margin: 7px 0;
		line-height: 22px;
	}

	#search-advance label{
		width: 90%;
		font-size: 16px;
		line-height: 22px;
	}
}



